<ion-content [fullscreen]="true">
  <div class="home-content">

    <div>
      <img [src]="'assets/images/logo.png'">
    </div>

    <div class="title">
      <ion-label [innerHTML]="'geo-quiz' | translate"></ion-label>
    </div>

    <div class="languages">
      <ion-img *ngFor="let item of languages"
               (click)="setLanguage(item.key)"
               [ngClass]="{selectedLanguage: selectedLanguage === item.key}"
               [src]="item.imgUrl"></ion-img>
    </div>

    <div>
      <ion-button (click)="start()"
                  color="light"
                  size="large"
                  [translate]="'start'"></ion-button>
    </div>

    <div class="info"
         (click)="showInfo($event)">
      <i class="fas fa-info-circle fa-2x"></i>
    </div>

  </div>
</ion-content>