/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "style-variables.scss";

ion-content {
    --ion-background-color: linear-gradient(to right, #6102a8, #9b3be4) !important;
}

@font-face {
    font-family: "Comic Sans MS";
    src: url("assets/font/COMIC.TTF");
}

* {
    font-family: "Comic Sans MS";
}

.text-center {
    text-align: center;
}

.home,
.board {
    max-width: 500px;
    margin: 0 auto;
}

.helpByPublicOpinion {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    grid-gap: 15px;
    padding: 0 2rem;
    height: 200px;

    > div {
        display: grid;
        grid-template-rows: 25px auto 25px;

        #a {
            background: -webkit-linear-gradient(to right, #02a871, #51967e);
            background: linear-gradient(to right, #02a871, #51967e);
            align-self: end;
            border-radius: 9px;
        }
        #b {
            background: -webkit-linear-gradient(to right, #024fa8, #3b81d1);
            background: linear-gradient(to right, #024fa8, #3b81d1);
            align-self: end;
            border-radius: 9px;
        }
        #c {
            background: -webkit-linear-gradient(to right, #d3e90c, #cfdd53);
            background: linear-gradient(to right, #d3e90c, #cfdd53);
            align-self: end;
            border-radius: 9px;
        }
        #d {
            background: -webkit-linear-gradient(to right, #29e639, #4fd35a);
            background: linear-gradient(to right, #29e639, #4fd35a);
            align-self: end;
            border-radius: 9px;
        }
    }
}
