<ion-content [fullscreen]="true">
  <div>
    <br>
    <br>

    <div>
      <img [src]="'assets/images/logo.png'">
    </div>

    <br>
    <br>

    <div class="title">
      <h4>222</h4>
      <ion-label [translate]="'geo-quiz'"></ion-label>
    </div>

    <br>

    <div class="languages">
      <ion-img *ngFor="let item of languages"
               (click)="setLanguage(item.key)"
               [ngClass]="{selectedLanguage: selectedLanguage === item.key}"
               [src]="item.imgUrl"></ion-img>
    </div>

    <br>
    <br>

    <div>
      <ion-button (click)="goToBoard()"
                  color="light"
                  size="large"
                  [translate]="'start'"></ion-button>
    </div>
  </div>
</ion-content>