@import "../../style-variables.scss";

ion-content {
  text-align: center;

  img {
    width: 45%;
    box-shadow: 0px 0px 4px 6px #ccc;
    border-radius: 50%;
  }

  .title {
    font-size: 2.5rem;
    font-weight: 700;
    color: $secondaryColor;
    line-height: normal;
    margin: 0 2rem;
  }

  .languages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

    ion-img {
      width: 70px !important;
      border-radius: 50% !important;
      overflow: hidden;
    }

    .selectedLanguage {
      box-shadow: 0px 0px 6px 6px #ccc;
    }
  }

  ion-button {
    letter-spacing: 4px;
  }
}
